<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron" style="text-align:center">
    <h1>PKTF</h1>
  </div>
  <div class="row" *ngIf="isShowRedeemFunction">
    <div class="col-12">
      <div class="mb-4">
        <div class="border rounded">
          <div class="row m-3">
              <div class="col-8 offset-2">
                <div class="form-group">
                    <label>Redeem code</label>
                    <input type="text" class="form-control" [(ngModel)]="redeemParam.redeemCode" maxlength=11/>
                </div>
                <div class="form-group">
                    <label>Wallet address</label>
                    <input type="text" class="form-control" disabled="true" [(ngModel)]="redeemParam.address" maxlength=""/>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-8 offset-2 ">
        <button type="button" class="btn btn-success btn-lg btn-block" (click)="redeemVoucher()">
          Redeem
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isShowTransactionId">
    <div class="col-12">
      <div class="border rounded">
        <div class="row m-3 justify-content-md-center">
            <div class="col-md-auto mt-4">
              <div class="form-group ">
                  <label>Transaction Id: </label>
                  <a href="https://ropsten.etherscan.io/tx/{{returnTransactionId}}" target="_blank">{{returnTransactionId}}</a>
              </div>
              <div class="form-group ">
                  <label>Voucher amount: </label>
                  <span>{{voucherAmount}}&nbsp; PKTF</span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ModalAuthenWithSocial" bsModal #ModalAuthenWithSocial="bs-modal" [config]="{ ignoreBackdropClick: true }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">Authenticate</h5>
            </div>
            <div class="modal-body">
                <div class="row justify-content-md-center">
                    <div class="col-5 text-center">
                        <button type="button" (click)="doLoginWithSocial('facebook')" class="btn text-light" style="background-color:#4267b2">
                          <i class="fa fa-facebook-square"></i>&nbsp;
                          Login as facebook
                        </button>
                    </div>
                    <div class="col-2 text-center pt-2">
                      --- OR ---
                    </div>
                    <div class="col-5 text-center">
                      <button type="button" (click)="doLoginWithSocial('github')" class="btn btn-secondary">
                        <i class="fa fa-github"></i>&nbsp;
                        Login as github
                      </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" (click)="ModalAuthenWithSocial.hide()">Close</button>
            </div>
        </div>
    </div>
</div>